.menu {
  background-image: url("../img/menu_page/bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  justify-content: flex-end;
&__list{
  display: flex;
  
}
&__item{
  display: flex;
  &--active{
    .menu__title{
      color:$yellow;
    }
    .menu__content{
      width:rem(540px);
    }
  }
}
&__trigger{
  display: flex;
  align-items: flex-end;
  width: rem(80px);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: rem(35px);
}
&__title{
  font-family: "gagalinregular";
  font-size: rem(40px);
  color: #fff;
  transform: rotate(-90deg);
  white-space: nowrap;
  width: 100%;
}
&__content{
  width: 0;
  overflow: hidden;
  background-color: rgba(#2f3234, .93);
  transition: width 2s;

}
&__text{
  padding: rem(60px) rem(35px);
  min-width: rem(540px);
}
}

.menu__text {
  color: white;
  font-size: rem(14px);
  font-weight: 300;
  line-height: 1.8;
  width: calc(100% - rem(72px));
  margin: 0 auto; }

 

      .section-title--menu {
        position: absolute;
        top: 12%;
        left: 10%;
        color: #fff;
        @include tablets{display: none} }


      
           