.team {
  background-image: url(../img/team_page/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: flex-end;
  &__box{
    width: 50%;
    padding-top: rem(105px);
    display: flex;
    
    background-color: rgba(#2f3234, .93);
    flex-direction: column;
    text-align: center;
    @include tablets {
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content:center;
    text-align: center;
    }
      @include phones {
        width: 100%;
        flex-direction: column;
          align-items: center;
          justify-content:center;}
    

  }
  &__item{
   margin-bottom: rem(35px);
   @include tablets {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content:center;
  text-align: center;
  }
    @include phones {
      width: 100%;
      flex-direction: column;
        align-items: center;
        justify-content:center;}
   
   &--active{
     .team__trigger{
       color:$yellow;
     }
     .team__trigger::before{
       transform: rotate(180deg);
     }

     .team__item{
      justify-content: space-between;
      width: 100%;
    
     }
     .team__content-wrap{
       height: 100px;
       
       @include tablets {-ms-flex-preferred-size: 100%;
        flex-basis: 100%;flex-direction: column;
        align-items: center;
        justify-content:center;
      text-align: center}
        @include phones {flex-direction: column;
            align-items: center;
            justify-content:center;
            text-align: center}
     }
   }

  }
  &__trigger{
    font-family: "gagalinregular";
    font-size: rem(14px);
    color: #fff;
    margin-bottom: rem(17px);
    display: flex;
    align-items: center;
   
    &::before{
      content:'';
      display: block;
      border: rem(10px) solid transparent;
      border-top: rem(10px) solid $yellow;
      margin-right: rem(10px);
      margin-top: -rem(5px);
      transition: 1s;
    }
  }
&__content-wrap{
  height: 0;
  overflow: hidden;
  transition: 2s;
}
&__content{
  display: flex;
 
}
&__description{
  margin-left: rem(15px);
  width: rem(225px)
}
  &__photo{
    width: rem(100px);
    height: rem(100px);
    overflow: hidden;
    border-radius: 50%;
    position: 50%;
  
    
  }
 
}

.section__title_team {
  margin-bottom: rem(46px); }

  .team__list{align-items: center;
    justify-content: center;
    
    
    @include tablets {flex-direction: column;
      align-items: center;
      justify-content:center;
    text-align: center;
    }
      @include phones {flex-direction: column;
          align-items: center;
          justify-content:center;}

  }

  .team__ocup {
    font-weight: 700;
    margin-bottom: rem(5px);
  color: #fff;
  text-align: start; }
  
  .team__text {
    font-weight: 300;
  color: #fff;
  display: flex;
  text-align: start; 
 }
 .team__list {  
  display: flex;
  flex-direction: column; 
  align-items: center;
 }

  



